<library path="src">
  <class name="BehaviourPlannerGui" type="rqt_planner_gui.behaviour_planner_gui.Overview" base_class_type="rqt_gui_py::Plugin">
    <description>
      Overview of Behaviour Planner
    </description>
    <qtgui>
      <group>
        <label>Behaviour Planner</label>
      </group>
      <label>Behaviour Planner Overview</label>
      <icon type="theme">system-help</icon>
      <statustip>View the internals of the behaviour planner and manually override some settings.</statustip>
    </qtgui>
  </class>
</library>
